<div ng-controller="skillsController">
    <input type="text" ng-model="queryTerm" placeholder="What are you looking for?" ng-change="search()">
    <table>
        <thead>
        <tr>
            <th ng-bind-html="renderTotal(total)"></th>
        </tr>
        </thead>
        <tr ng-repeat="item in hits">
            <td>
                <table>
                    <tr>
                        <td ng-bind-html="renderResult(item)"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>